#getstarted {
    cursor: pointer;
    font-family: 'Mario & Luigi', sans-serif;
    text-decoration: none;
    border: none;
    font-size: 3rem;
    background-color: #f49ac1;
    color: #dde128;
    border-radius: 2px;
    border: 2px ridge #dde128;
    padding: 0.4rem;
}

#getstarted:hover {
    border-color: #dde128;
    border-style: ridge;
    background-color: #ef4d8f;
}

#startdiv {
    display: flex;
    align-content: center;
    justify-content: center;
}