.display {
    background-color: #ffffff;
    color: #e62310;
    font-size: 2rem;
    display: block;
    padding: 0;
    font-weight: bolder;
}

img {
    /* display: block; */
    width: 75px;
    height: 75px;
    border: 2px dotted black;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.displaydiv {
    width: 25vw;
    justify-content: center;
    display: grid; 
    grid-template-rows: auto auto 75px auto 75px auto 75px auto 75px auto;
    font-family: 'Mario & Luigi', sans-serif;
}

h3 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

#playernumber {
    grid-row: 1;
}

#charHeading {
    grid-row: 2;
}

#charImg {
    grid-row: 3;
}

#kartHeading {
    grid-row: 4;
}

#kartImg {
    grid-row: 5;
}

#wheelHeading {
    grid-row: 6;
}

#wheelImg {
    grid-row: 7;
}

#gliderHeading {
    grid-row: 8;
}

#gliderImg {
    grid-row: 9;
}